html{
    height: auto;
}
main{
    width: 100%;

    padding: 0px;
    border: 0px;
    display: flex;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 2vh;
}

section#right{
    flex: 3;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
}

section#right button{
    width: 15vw;
}
section#right button#btnExcluir{
    background-color: #ff2121;
    border: #ff2121;
}
img#userImage{
    border-radius: 100000000px;
    height: 35vh;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
}

p#userName{
    margin-top: 1.75vh;
    text-align: center;
    font-weight: bold;
    font-size: 5vh;
    color: black;
}
button{
    border: 0px;
    border-radius: 0px;
    background-color: transparent;
    outline: none;
}
button#editPerfil, .image-place button, form input[type='file']{
    background-color: #1b0046;
    font-size: large;
    color: white;
    width: 20vw;
    height: 5vh;
    border-radius: 1vh;
}
button#editPerfil:hover{
    opacity: 50%;
}



form {
    font-weight: 600;
    color: black;
    font-size: 2.5vh;
}

.image-place{
    display: flex;
    justify-content: center;
    
}

.image-place button{
    position: relative;
    z-index: 1;
}

form input[type='file']{
    position: absolute;
    z-index: 2;
    opacity: 0;
    
}

div#placeAbove{
    position: absolute;
    width: 100%;
    z-index: 100;
}

section#left{
    flex: 7;
    height: min-content;
    display: flex;
    justify-content: center;
    padding-top: 4vh;
}

div.things{
    width: 50vw;
    height: auto;
    background-color: #0d1f3a;
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
    
}

div.display-buttons{
    width: 100%;
    height: 5vh;
    display: flex;
    background-color: #253957;
}

div.display-buttons button{
    height: 5vh;
    padding-left: 2vw;
    padding-right: 2vw;
    color: white;
    outline: none;
}

.placeAbove{
    position: absolute;
    z-index: 100;
}

.mobile{
    display: none;
}

@media (max-width: 768px) {
    .mobile{
        display: block;
    }
    main{
        flex-direction: column;
    }

    div#userTag{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    div#userTag img{
        width: 30vw;
        height: min-content;
    }

    div#userTag p{
        
        margin-left: 5vw;
        display: flex;
        font-size: 5vw;
        justify-content: center;
        align-items: center;
    }

    section#right button{
        width: 50vw;
    }

    .buttons-overview{
        display: flex;
        height: 14vh;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        width: 100vw;
        padding-top: 5vh;
        gap: 5vh;
        background-color: #0d1f3a;
        transition: height 1s ;
    }

    .buttons{
        width: 100vw;
        height: 30vh;
        padding-bottom: 5vh;
        background-color: #0d1f3a;
    }

    section#left .things{
        width: min-content;
    }

}