div#popping{
    display: flex;
    width: 50vw;
    height: 80vh;
    position: absolute;
    z-index: 11;
    
}

#pop{
    display: flex;
    position: absolute;
    width: 50vw;
    height: 80vh;
    z-index: 11;
}

#formElementsCode .places{
    margin-top: 20vh;
    margin-bottom: 20vh;
    flex-direction: column;
}

.box{
    width: 55vw;
    height: 85.5vh;
}

.box::after, .box::before{
    height: 80vh;
}

#form-singn{
    width: 54.5vw;
    left: .25vw;
    top: .5vh;

}
